:root {
	--btn-color-green: #1d6154;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--btn-color-green)
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;

}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#galery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 15px;
}

#galery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: var(--btn-color-green);
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#projectslink,
#contactlink,
#loginlink {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

#IntoImg {
	display: flex;
	align-items: center;
}

#projects {
	display: flex;
	justify-content: center;
	gap: 15px;
}

/*** Icon modification ***/
.fa-regular {
	padding-right: 10px;
}

/*** Btn Filtre ***/
#portfolio #btn-filtre {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin: 51px 0;
}

#portfolio #btn-filtre button {
	height: 37px;
	font-family: "Syne";
	font-weight: 700;
	font-size: 16px;
	line-height: normal;
	justify-content: center;
	text-align: center;
	padding: 9px 10px;
	border-radius: 60px;
	border: 1px solid var(--btn-color-green);
	color: var(--btn-color-green);
	cursor: pointer;
	background-color: white;
	transition: all 0.4s ease;
}

#portfolio #btn-filtre button:hover {
	background-color: var(--btn-color-green);
	color: white;
	transform: scale(1.1);
}

#portfolio #btn-filtre .isActive {
	background-color: var(--btn-color-green);
	color: white;
	transform: scale(1.1);
}

figure {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/****** Login page *****/
#login--title {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: var(--btn-color-green);
	align-items: center;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.login .h3 {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #3D3D3D;
}

.login .login--form {
	display: flex;
	flex-direction: column;
}


.login .login--form label {
	font-family: work sans;
	font-size: 14px;
	color: #3d3d3d;
	font-weight: 500;
	margin-bottom: 7px;
	margin-top: 35px;
}

.login .login--form input {
	width: 379px;
	height: 51px;
	font-size: 25px;
	color: #1d6154;
	background: #fff;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.login .login--form input:focus {
	outline: 1px solid #1d6154;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.login .login--form .password--container {
	position: relative;
}

.login .login--form .password--container .toggle-password {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #1d6154;
	cursor: pointer;
	margin-bottom: 10px;
}

.login .login--form .password--container .fa-eye {
	color: grey;
}

.login .login--form .password--container .fa-eye-slash {
	color: #1d6154;
}

.login #login--error {
	color: #B1663C;
	text-decoration: underline;
	text-underline-offset: 2px;
	margin: 10px;
}

.login #login--btn {
	width: 179px;
	height: 36px;
	background: #1d6154;
	border: none;
	border-radius: 60px;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	color: #fff;
	font-family: "Syne";
	font-weight: 700;
	font-size: 14px;
	margin-top: 27px;
	cursor: pointer;
}

.login #login--btn:hover {
	background-color: #0E2F28;
	color: #fff;
	border: 1px solid #0E2F28;
}

.login .forgot--password {
	font-family: work sans;
	font-size: 14px;
	color: #3d3d3d;
	font-weight: 500;
	margin-top: 26px;
	padding-bottom: 355px;
	text-decoration-line: underline;
	cursor: pointer;
}

#blackheader {
	background-color: black;
	height: 59px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	display: none;
	margin-top: 0;
	margin-left: -20%;
	margin-right: -20%;
	z-index: 3;
	position: relative;
}

#blackheader p,
#blackheader i {
	color: white;
}

#blackheader p {
	margin-right: 20px;
}

#blackheader #btn--Chgmt {
	height: 37px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	padding: 10px 24px;
	border-radius: 60px;
	border: 0;
	color: black;
	cursor: pointer;
	background-color: white;
}

/**** Bouton modifier *****/
#project {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 30px;
}

#edition--mode {
	display: none;
	flex-direction: row;
	margin-top: 0.5em;
	height: 100%;
	cursor: pointer;
}

#editProfil--mode {
	display: none;
	flex-direction: row;
	margin-top: 0.9375rem;
	height: 100%;
	cursor: pointer;
	width: 90%;
}

/***** modal Edit******/


#modalEdit {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 400px;
	overflow: auto;
	width: 50%;
}

#closeBtn {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 20px;
	cursor: pointer;
}

#containerThumb {
	display: grid;
	justify-content: flex-start;
	width: 80%;
	margin: auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	padding-bottom: 25px;
}

.image-card {
	margin: 5px;
	text-align: center;
	box-sizing: border-box;
	position: relative;
}

.image-card img {
	max-width: 100%;
	height: auto;
}

.image-card p {
	margin-top: 5px;
}

.modal--title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;
	padding-bottom: 35px;
}

#addwork,
#addDel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	border-top: 1px solid #B3B3B3;
	margin: auto;
}

#addDel #add--btn {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	line-height: 20px;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border-style: none;
	height: 40px;
}

#addDel #destructionGalerie {
	color: red;
	text-decoration: inherit;
	cursor: pointer;
}

.trash {
	position: absolute;
	padding: 7px;
	right: 0;
}

.move .fa,
.trash .fa {
	color: white;
}

.move {
	position: absolute;
	padding: 7px;
	right: 35px;
}

button {
	background-color: black;
	color: white;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.modal {
	display: flex;
	flex-direction: column;
	max-height: 400px;
	overflow: auto;
	width: 100%;
}

/***** Modal Add *****/
form {
	margin-top: 20px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

.addwork {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

#addworkform {
	display: flex;
	flex-direction: column;
	height: auto;
	justify-content: space-around;
	width: 80%;
}

#dropzone {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #E8F1F7;
	height: 180px;
}

.addImgBtn {
	display: flex;
	width: 50%;
	background-color: #CBD6DC;
	border-radius: 50px;
	height: 40px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #306685;
	position: relative;
}

#delAllBtn,
#notdelAllBtn {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.color-red {
	color: white !important;
	background: red;
	padding: 10px;
	border-radius: 10px;
	border-radius: 35px;
	box-shadow: 7px 7px 14px #949494,
		-7px -7px 14px #ffffff;
}

.color-green:hover,
.color-red:hover {
	scale: 1.1;
}

.color-green {
	color: white !important;
	background: green;
	padding: 10px;
	border-radius: 10px;
	border-radius: 35px;
	box-shadow: 7px 7px 14px #949494,
		-7px -7px 14px #ffffff;
}

#formDelAll {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 30px;
	padding-bottom: 25px;
}



#addworkform label {
	margin: 2em 0 1em 0;
	height: 100%;
}

#imageInput {
	display: none;
}

.faAddImgSquare {
	padding-top: 30px;
	color: #B9C5CC;
	font-size: 4em;
}

.TitleaddInput {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
}

.hrLineAddWorkForm {
	width: 100%;
	margin-top: 20px;
	background-color: #B3B3B3;
	border: 1px solid #B3B3B3;
}

#addworkTitle {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#addworkform select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#error--import {
	color: red;
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	line-height: 20px;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	border-style: none;
	height: 40px;
}

input[type="submit"]:not([disabled]):hover {
	cursor: pointer;
	background-color: white;
	color: #1D6154;
	border-style: solid;
	border-color: #1D6154;

}

#confirmAddWork[disabled] {
	background-color: #f0f0f0;
}

.imgPreview {
	margin: 0px !important;
	all: unset;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.imgDisplay {
	height: 100%;
	object-fit: cover;
}